# Xcode
DerivedData/
.build/
.derivedDataBuild/

# Xcode user data
*.xcuserdata
*.xcuserstate

# Swift Package Manager
.swiftpm/
Packages/

# macOS
.DS_Store

# Local screenshots / history
screenshot*.png
.Rhistory